*{
	background-color: rgb(54, 52, 52);
	color: white;
}

section{
	height: 100vh;
	background: url('https://images.unsplash.com/photo-1692684583465-6230fa0ccb1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1771&q=80') center center/cover;
	/* height: 200px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav{
	position: absolute;
	top: 0;
}

